In [2]:
import joblib
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

xgb_best = joblib.load("xgb_best.pkl")
dict_air = joblib.load("dict_air.pkl")
dict_des = joblib.load("dict_des.pkl")
dict_stp = joblib.load("dict_stp.pkl")
print(type(dict_air))
print(len(dict_air))
print(dict_air)

<class 'dict'>
12
{'Trujet': 0, 'SpiceJet': 1, 'Air Asia': 2, 'IndiGo': 3, 'GoAir': 4, 'Vistara': 5, 'Vistara Premium economy': 6, 'Air India': 7, 'Multiple carriers': 8, 'Multiple carriers Premium economy': 9, 'Jet Airways': 10, 'Jet Airways Business': 11}

In [2]:
def input_load():
    airlines = input("enter the airline {Trujet,SpiceJet,Air Asia,IndiGo,GoAir,Vistara,Vistara Premium economy,Air India,Multiple carriers,Multiple carriers Premium economy,Jet Airways,Jet Airways Business}:")
    source = input("enter the source city {Banglore,Kolkata,Delhi,Chennai,Mumbai}:")
    destination = input("enter the destination {Kolkata,Hyderabad,Delhi,Banglore,Cochin,New Delhi}:")
    duration = input("enter the duration[HH:MM]:")
    total_stops = int(input("enter the number of stops:"))
    journey_day = int(input("enter the journey day:"))
    journey_month = int(input("enter the journey month:"))
    journey_year = int(input("enter the journey year:"))
    dep_time = input("enter the departure time[HH:MM]:")
    arrival_time = input('enter the arrival time[HH:MM]:')

    dep_hours,dep_minutes = map(int,dep_time.split(':'))
    arr_hours,arr_minutes = map(int,arrival_time.split(':'))
    duration_hour,duration_minutes = map(int,duration.split(':'))
    duration_total_minutes = duration_hour*60 + duration_minutes


    airlines_encoded = None
    for key,value in dict_air.items():
        if key == airlines:
            airlines_encoded = value
            break
            
    destination_encoded = None
    for key,value in dict_des.items():
        if key == destination:
            destination_encoded = value 
            break

    input_data = {'Airline':airlines_encoded,'Source':source,'Destination':destination_encoded,'Duration':duration_total_minutes,'Total_Stops':total_stops,'Journey_day':journey_day,'Journey_month':journey_month,'Journey_year':journey_year,"Dep_Time_hour":dep_hours,"Dep_Time_minute":dep_minutes,"Arrival_Time_hour":arr_hours,"Arrival_Time_minute":arr_minutes,"Duration_hour":duration_hour,"Duration_minute":duration_minutes}
    return input_data

In [3]:
input_data1 = input_load()

enter the airline {Trujet,SpiceJet,Air Asia,IndiGo,GoAir,Vistara,Vistara Premium economy,Air India,Multiple carriers,Multiple carriers Premium economy,Jet Airways,Jet Airways Business}: IndiGo
enter the source city {Banglore,Kolkata,Delhi,Chennai,Mumbai}: Kolkata
enter the destination {Kolkata,Hyderabad,Delhi,Banglore,Cochin,New Delhi}: New Delhi
enter the duration[HH:MM]: 04:00
enter the number of stops: 2
enter the journey day: 09
enter the journey month: 11
enter the journey year: 2024
enter the departure time[HH:MM]: 21:00
enter the arrival time[HH:MM]: 3:00

In [13]:
input_data_list = [input_data1]
df = pd.DataFrame(input_data_list)
source_list = ["Banglore","Kolkata","Delhi","Chennai","Mumbai"]
for cat in source_list:
    df["Source_"+cat]=df['Source'].apply(lambda x:1 if x == cat else 0)

In [15]:
df.drop("Source",axis=1,inplace=True)

In [17]:
df

,Airline,Destination,Duration,Total_Stops,Journey_day,Journey_month,Journey_year,Dep_Time_hour,Dep_Time_minute,Arrival_Time_hour,Arrival_Time_minute,Duration_hour,Duration_minute,Source_Banglore,Source_Kolkata,Source_Delhi,Source_Chennai,Source_Mumbai
0,3,5,240,2,9,11,2024,21,0,3,0,4,0,0,1,0,0,0

In [19]:
Price = xgb_best.predict(df)

In [25]:
Price

array([7312.8506], dtype=float32)

In [23]:
 joblib.dump(df,"df.pkl")

['df.pkl']